---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../sections/Hero.astro";
import Certifications from "../sections/Certifications.astro";
import Despre from "../sections/Despre.astro";
import Services from "../sections/Services.astro";
import Portfolio from "../sections/Portfolio.astro";
import Contact from "../sections/Contact.astro";
---

<BaseLayout currentPath="/" title="San Electroterm Grup - Instalații electrice feroviare și civile" description="Proiectăm, realizăm și modernizăm instalații feroviare folosind tehnologii de ultimă generație și expertiză solidă, pentru rețele de transport feroviar mai sigure, mai eficiente și mai performante.">
  <main id="main-content" tabindex="-1">
    <Hero />
    <Certifications />
    <Despre />
    <Services />
    <Portfolio />
    <Contact />
  </main>
</BaseLayout>
